.restorePassword {
  background-color: rgba(0, 0, 0, 0.474);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  @media screen and(min-width: 1200px) {
    width: 60%;
    justify-content: space-around;
  }
  .restorePassword__Logo {
    a {
      img {
        width: 70%;
      }
    }
  }
  .restorePassword__Content {
    padding: 20px 50px 10px;
    width: 100%;
    .ant-steps {
      display: block;
      @media screen and(min-width: 576px) {
        display: flex;
      }
      .ant-steps-item {
        padding: 5px 0;
        @media screen and (min-width: 576px) {
          padding: 0;
          &:nth-of-type(2) {
            padding-left: 16px;
          }
          &:nth-of-type(3) {
            padding-left: 16px;
          }
        }
        .ant-steps-item-container {
          .ant-steps-item-tail {
          }
          .ant-steps-item-icon {
            background: #323232;
            border-radius: 5px;

            span {
              color: #d9d9d9;
            }
          }
          .ant-steps-item-content {
            .ant-steps-item-title {
              color: #d9d9d9;
              &::after {
                // background: linear-gradient(to right, #fbbd61, #ec7532);
              }
            }
          }
        }
      }
      .ant-steps-item-active {
        .ant-steps-item-container {
          .ant-steps-item-tail {
          }
          .ant-steps-item-icon {
            background: linear-gradient(to right, #fbbd61, #ec7532);
            border: 1px solid black;

            span {
              color: black;
              font-weight: 700;
            }
          }
        }
      }
      .ant-steps-item-finish {
        .ant-steps-item-container {
          .ant-steps-item-tail {
          }
          .ant-steps-item-icon {
            background: linear-gradient(to right, #fbbd61, #ec7532);
            border: 1px solid black;

            span {
              color: black;
              font-weight: 700;
            }
          }
          .ant-steps-item-content {
            .ant-steps-item-title {
              color: #d9d9d9;
              &::after {
                background: linear-gradient(to right, #fbbd61, #ec7532);
              }
            }
          }
        }
      }
    }
    .steps-content {
      padding: 50px 0;
      width: 100%;
      text-align: center;
      //   background-color: transparent;
      .form-group {
        text-align: left;
        padding: 0;
        margin: 0;
        width: 100%;
        label {
          display: inline-block;
        }
        input {
          border-radius: 2px;
          width: 100%;
          display: inline-block;
          margin-bottom: 20px;
          &:focus {
            box-shadow: none;
          }
        }
        .restorePassword__validate {
          padding: 0;
          margin: 0 0 10px;
          font-size: 0.9rem;
          color: #fbbd61;
          font-weight: 700;
          height: 20px;
        }
      }
      .restorePassword__btn {
        text-align: left;
        button {
          padding: 5px 20px;
          margin-left: 0 !important;
          width: 100%;
          border-radius: 40px;
          border: none;
          background: linear-gradient(to right, #fbbd61, #ec7532);
          letter-spacing: 3px;
          font-size: 1.2rem;
          color: white;
          margin-left: 10px;
          transition: all 0.5s;
          overflow: hidden;
          position: relative;
          &::after {
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: -15px;
            transform: skewX(30deg);
            background-color: #ec7532;
            transition: all 0.5s;
            z-index: 0;
          }
          &:hover::after {
            width: 140%;
          }
          &:focus {
            box-shadow: none;
          }
          span {
            position: relative;
            z-index: 1;
          }
          @media screen and(min-width: 576px) {
            width: 20%;
          }
        }
      }
    }

    .steps-action {
      button {
        background: linear-gradient(to right, #fbbd61, #ec7532);
        border: 1px solid #323232;
        width: 40%;
        color: #323232;
        font-weight: 700;
        &:disabled {
          background: #323232;
          color: #666666;
        }
        @media screen and(min-width: 576px) {
          width: 20%;
        }
      }
      .btn-done {
        background: linear-gradient(to right, #fbbd61, #ec7532);
        color: black;
        &:disabled {
          background: #323232;
          color: #666666;
        }
      }
    }
  }
}
