.LazyLoadingModal {
  width: 100%;
  height: 100%;
  background-color: #191919;
  //   background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;

  .LazyLoadingModal__detail {
    width: 290px;
    height: 290px;
    margin: auto;
    background: linear-gradient(
      to top,
      #191919,
      #323232,
      #4c4c4c,
      #666666,
      #7f7f7f
    );
    border-radius: 50%;
    box-shadow: inset 0 0 30px black;

    animation: scaleLogo 1s forwards;
  }
}
